@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --soft-cyan:hsl(174, 77%, 80%);
    --dark-cyan:hsl(174, 86%, 45%);
    --light-gray-red:hsl(14, 92%, 95%);
    --light-red:hsl(15, 100%, 70%);
    --pale-blue:hsl(226, 100%, 87%);
    --white: hsl(0, 0%, 100%);
    --pale-blue-1:hsl(230, 100%, 99%);
    --light-gray-blue:hsl(224, 65%, 95%);
    --light-gray-blue-2:hsl(223, 50%, 87%);
    --gray-blue:hsl(225, 20%, 60%);
    --dark-blue:hsl(227, 35%, 25%);
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1.5rem;
    min-height:100vh;
    /* background-image:linear-gradient(hsl(224, 65%, 95%) 0%,
    hsl(224, 65%, 95%) 50%,
    hsl(230, 100%, 99%) 50%,
    hsl(230, 100%, 99%) 100% ); */
    background-color:hsl(230, 100%, 99%);
    font-family: 'Manrope', sans-serif;
    padding:0.6rem;
}
header{
    text-align:center;
    margin:4rem 0 2rem;
    background-image:url('images/pattern-circles.svg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    padding:1rem 2rem;
}
header::after{
    width:100%;
    height:50%;
    content:'';
    background:hsl(224, 65%, 95%);
    position:absolute;
    border-bottom-left-radius:100px;
    top:0;
    left:0;
    z-index:-1;

}
h1{
    color:var(--dark-blue);
    margin-bottom:0.6rem;
}
h2{
    font-size:0.94rem;
    font-weight:light;
    color:var(--dark-blue);
    opacity:0.4;
}
button{
    font-family:inherit;
}
a{
    font-family:inherit;
    text-decoration:none;
    color:inherit;
}
.col-flex{
    display:flex;
    flex-direction:column;
}
.row-flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1rem;
}
main{
    max-width:550px;
    width:100%;
    background-color:var(--white);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    border-radius:10px;
}

.price-section{
    padding:3rem 1.7rem 2.3rem;
}
.price-section.col-flex{
    gap:1.25rem;
}
.price-label.row-flex{
    flex-direction:column;
}
.mobileView{
    display:visible;
}
.desktopView{
    display:none;
}
.pageView,
.duration{
    color:var(--gray-blue);
    font-size:0.9rem;
    font-weight:600;
}
.pageView{
    letter-spacing:2px;
    text-transform:uppercase;
}
.perMonth{
    font-size:2rem;
    font-weight:800;
    color:var(--dark-blue);
}
.perMonth.row-flex{
    gap:0;
}
.duration{
    margin-left:0.6rem;
}
/* input slider */
input[type="range"]{
    width:100%;
    margin:2rem 0;
    -webkit-appearance:none;
    outline:none;
    border-radius:15px;
    height:16px;
    cursor:pointer;
    background-color:var(--light-gray-blue);
}

/* chrome & safari */
input[type='range']::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:40px;
    height:40px;
    background:var(--dark-cyan);
    background-image:url('images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius:50%;
    margin-top:-4px;
    transition:transform 0.5s ease;
    box-shadow: 0px 0px 50px var(--dark-cyan);
}

input[type='range']::-webkit-slider-thumb:hover{
    transform:rotate(180deg);
}
/* firefox */
input[type="range"]::-moz-range-track{
    background-color:var(--light-gray-blue);
    border-radius:100px;
    height:17px;
    cursor:pointer;
}
input[type='range']::-moz-range-thumb{
    -webkit-appearance:none;
    width:40px;
    height:40px;
    background:var(--dark-cyan);
    border-radius:50%;
    margin-top:-12px;
}
/* package type */
.package-type.row-flex{
    flex-wrap:wrap;
    justify-content:center;
    align-self:center;
    gap:0.5em;
}
.toggle {
    visibility: hidden;
    width:0;
}
.label{
    background-color:var(--dark-cyan);
    border-radius:100px;
    cursor:pointer;
    display:inline-block;
    position:relative;
    width: 3rem;
    height: 1.5rem;
}
.toggle:checked + .label{
    background-color:var(--light-gray-blue-2);
}
.ball{
    background:#fff;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3.7px;
    animation: slideOff 0.3s linear forwards;
}
.toggle:checked + .label .ball{
    animation: slideOn 0.3s linear forwards;
}
.toggle:checked ~ .month{
    color:hsl(237, 63%, 64%);
}

@keyframes slideOn {
    0% {
      transform: translateX(0) ;
    }
   
    100% {
      transform: translateX(22px) ;
    }
  }
  
  @keyframes slideOff {
    0% {
      transform: translateX(22px) ;
    }
    100% {
      transform: translateX(0) ;
    }
  }
.package-type .annual,
.package-type .month{
    font-size:0.875rem;
    color:var(--gray-blue);
}
.discount{
    background-color:var(--light-gray-red);
    color:var(--light-red);
    font-weight:800;
    margin-left:0.6rem;
    padding:0.3rem 0.5rem;
    border-radius:100px;
    font-size:0.875rem;
}
.month{
    margin-right:0.5em;
}
.annual{
    margin-left:0.5em;
}
/* package benefits */
.package-benefits{
    border-top:1px solid var(    --light-gray-blue);
    padding:1.7rem 3.4rem 2rem;
    color:var(--gray-blue);
    font-weight:100;
}
.package-benefits.row-flex{
    flex-direction:column;
}
ul li:not(:last-child){
    margin-bottom:0.5rem;
}
ul li{
    padding-left:0.9rem;
}
ul li::marker{
    content:url('images/icon-check.svg') ;
}
.btn{
    background:var(--dark-blue);
    color:var(--light-gray-blue-2);
    padding:0.7rem 2.3rem;
    border-radius:100px;
    cursor:pointer;
    font-weight:800;
    border:none;
}
.btn:hover{
    color:var(--white);
}
/* media queries */
@media (min-width:600px){
    .desktopView{
        display:block;
    }
    .mobileView{
        display:none;
    }
    .price-section{
        padding:3rem 3rem 2.3rem;
    }
    .price-label.row-flex{
        flex-direction:row;
    }
    .package-benefits.row-flex{
        flex-direction:row;
    }
    .package-type.row-flex{
        gap:1rem;
    }
    .package-type span{
        font-size:0.9rem;
    }
    .month{
        margin-right:0;
    }
    .ball{
        top: 3.8px;
        left: 4px;
    }
    .annual{
        margin-left:0;
    }
}